*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom, #12071f , #2f204e);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
     overflow-x: hidden;
} 
a{
    text-decoration: none;
    color: white;
} 
.container {
  max-width: 1536px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: rebeccapurple; */
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

@media (max-width: 639px) {
  .container {
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .container {
    max-width: 600px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .container {
    max-width: 960px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1280px) and (max-width: 1535px) {
  .container {
    max-width: 1152px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1400px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
